@model List<ConsumeAPI_Project.ResponseModel.ProductResponseModel>
<html>

    <head>
        <title>Wep Api Consume</title>
    </head>




    <body>

    <a asp-action="Create" asp-controller="Home">Yeni Ürün Ekle</a>
    <table>
        <tr>
            
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th></th>
            <th></th>
        </tr>

       
        @if(Model != null)
        {
            @foreach (var products in Model)
            {
                <tr>

                    <td>@products.ID</td>
                    <td>@products.Name</td>
                    <td>@products.Price</td>
                    <td>@products.Stock</td>
                    <td>
                        <a asp-action="Update" asp-controller="Home" asp-route-id="@products.ID">Güncelle</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Home" asp-route-id="@products.ID">Sil</a>
                    </td>
                </tr>
            }
        }

            
            
        
    </table>

        
    </body>


</html>
